*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #efefef;
    overflow-x: hidden;
}
.index-name{
    margin-top: 20px;
}
.glyphicon-user{
    color: #99999978;
}
.indexDescription{
    display:inline-block;
    max-width: 25em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /*超出部分用...代替*/
}
.re .label-info{
    font-size: 12px;
}
.main{
    margin: 30px;
    background-color: white;
    border-radius: 5px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.publish-tag-tab{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}
.publish-tag-tab .label-info{
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px 10px 5px 5px;
    white-space: normal;
    font-size: 12px;
}
.publish-tag-tab .glyphicon-tags:before {
    margin-right: 10px;
}
.media-object{
    width: 38px;
    height: 38px;
}
a + .text-desc{
    margin-bottom: 20px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
    display: block;
}
#description{
    resize: none;
}
.question-title{
    margin-top: 25px;
}
.question-tag{
    margin-right: 5px;
    font-size: 14px;
}
.question-tag .label-info{
    font-size: 14px;
}
.question-wechat{
    width: 50%;
}
.profile .section{
    margin-top: 15px;
}

.jumbotron {
    margin: 50px;
}

.textareaNoRe {
    resize: none;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comment-sp {
    margin-top: 0px;
}

h3, h4 {
    font-weight: bold;
}
.initiator{
    margin-top: 25px;
}
.community-menu {
    color: #999;
    margin-top: 10px;
    margin-bottom: 15px;
}
.glyphicon-pencil{
    display: inline-block;
    color: #999;
}
.community-menu .glyphicon-pencil:hover{
    color: #5bc0de;
}
.community-icon {
    display: inline-block;
    width: 50px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #eee;
    font-size: 16px;
    margin-right: 5px;
    color: #999999;
    cursor: pointer;
    border-radius: 5px;
}
.community-menu .community-icon:hover{
    background-color:lightskyblue;
    color: #eee;
}
.community-menu .active{
    background-color:lightskyblue;
    color: #eee;
}

.commentInfo {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.comment-hf{
    transform: translateY(20px);
}
.comment-pl{
    margin-top: 10px;
}
.sub-comments{
    border-radius: 5px;
    margin: 10px 0 15px;
    border:1px solid #eee;
    padding-top: 15px;
}
.sub-comments .btn {
    margin: 10px 0;
}
.re li:nth-child(1) a{
    margin-top: 15px;
}
.relateds{
    color: #155faa;
    height: 30px;
    line-height: 30px;
    display: block;
}
.relateds:hover{
    color:#5bc0de;
    text-decoration: none;
}

.footer{
    padding: 10px 25%;
    color: #666;
}
